/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
   
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: azure;

}

.card-wrapper {
  width: 49.7%;
  height: 50%;
  background-color: blueviolet;

}
.picture {
    width: 50px;
} */